<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <h2>Выберите продукты:</h2>   
        <div class="ingredients-container">
            <div class="ingredients-header">Ингредиенты</div>
            <div class="ingredients-list" id="ingredientsList">
                <button id="selectAllIngredients">Выбрать всё</button>
                <div><label><input type="checkbox" value="курица"> Курица</label></div>
                <div><label><input type="checkbox" value="рис"> Рис</label></div>
                <div><label><input type="checkbox" value="овощи"> Овощи</label></div>
                <div><label><input type="checkbox" value="яйцо"> Яйцо</label></div>
                <div><label><input type="checkbox" value="помидор"> Помидор</label></div>
                <div><label><input type="checkbox" value="мука"> Мука</label></div>
                <div><label><input type="checkbox" value="картофель"> Картофель</label></div>
                <div><label><input type="checkbox" value="масло"> Масло</label></div>
                <div><label><input type="checkbox" value="свекла"> Свекла</label></div>
                <div><label><input type="checkbox" value="капуста"> Капуста</label></div>
                <div><label><input type="checkbox" value="мясо"> Мясо (свинина, говядина и т. д.)</label></div>
                <div><label><input type="checkbox" value="сметана"> Сметана</label></div>
                <div><label><input type="checkbox" value="овсяные хлопья"> Овсяные хлопья</label></div>
                <div><label><input type="checkbox" value="сахар"> Сахар</label></div>
                <div><label><input type="checkbox" value="огурцы"> Огурцы (соленые)</label></div>
                <div><label><input type="checkbox" value="лимон"> Лимон</label></div>
                <div><label><input type="checkbox" value="творог"> Творог</label></div>
            </div>
        </div>
        <h2>Выберите блюда для:</h2>
        <select id="mealType">
            <option value="breakfast">Завтрак</option>
            <option value="lunch">Обед</option>
            <option value="dinner">Ужин</option>
        </select>
        <button id="findDishes">Найти блюда</button>
        
        <div class="menu">
            <h2>Доступные блюда:</h2>
            <div class="dish-cards" id="dishes"></div>
        </div>
        <div class="selected-menu">
            <script src="scripts/script.js"></script>
</body>
</html>