<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="/styles/aboutStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>О нас</h2>
        <p>Наше приложение создано для составления меню пользователя по его предпочтениям в продуктах и необходимой норме калорий, высчитанной во встроенном калькуляторе.</p>
        <h3>Преимущества нашего приложения:</h3>
        <ul class="feature-list">
            <li>Интуитивно понятный интерфейс</li>
            <li>Персонализированные рекомендации по меню</li>
            <li>Удобный калькулятор для расчета калорийности</li>
            <li>Поддержка различных диет и предпочтений</li>
        </ul>
        <p>Попробуйте наше приложение и улучшите свое питание с легкостью!</p>
    </div>
</body>
</html>
