<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мое Меню</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/userMenuStyle.css">
</head>
<body>
    <div class="headContainer">
    <h1>Ваше Меню</h1>
    <div id="remaining-calories"></div> 
    <p id="calorie-warning"></p>
    </div>
    <div id="user-menu-container"></div>
    <script src="/scripts/userMenuScript.js"></script>
</body>
</html>