main{
    margin: 0;
}
body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    background: url('https://static.103.by/images/common/wysiwyg/2022/04/4950512b7a854b228e2607802d4d3b54.jpg');
    color: #6a4f4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}

.container {
    width: 30vw;
    max-width: 30vw;
    padding: 25px;
    margin-top: 20%;
    background: rgb(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 
        0 8px 20px rgba(0, 0, 0, 0.1),
        0 4px 10px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
}



h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
    color: #ffffff;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #eeeeee;
}

input[type="number"],
select {
    width: 93.5%;
    padding: 10px;
    margin-bottom: 15px;
    background: rgb(255, 255, 255, 0.3);
    box-shadow: 
        0 4px 10px rgba(255, 255, 255, 0.1),
        0 2px 5px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    font-size: 16px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

input[type="number"]:focus,
select:focus {
    outline: none;
    box-shadow: 
        0 8px 20px rgba(255, 255, 255, 0.1),
        0 4px 10px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    font-size: 16px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #28b32d;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #18811b;
    transform: translateY(-2px);
}
#calorieResult {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    border-top: 2px solid #00f708;
    padding-top: 10px;
}
#gender, #goal, #activityLevel {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: rgb(255, 255, 255, 0.3);
    box-shadow: 
        0 8px 20px rgba(0, 0, 0, 0.1),
        0 2px 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    font-size: 16px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}
#gender, #goal:focus {
    outline: none;
    box-shadow: 
        0 8px 20px rgba(255, 255, 255, 0.1),
        0 4px 10px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    font-size: 16px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}