body {
    margin: 0;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background: url('https://static.103.by/images/common/wysiwyg/2022/04/4950512b7a854b228e2607802d4d3b54.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #353535;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    overflow-y: hidden;
}

#user-menu-container {
width: auto;
max-width: 60vw; 
max-height: 70vh;
padding: 25px;
margin-top: 20px;
background: rgba(255, 255, 255, 0.8);
border-radius: 15px;
box-shadow: 
    0 8px 20px rgba(0, 0, 0, 0.1),
    0 4px 10px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(10px);
display: grid; 
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
gap: 15px; 
overflow-y: auto; 
}
.headContainer {
width: auto;
padding: 25px;
margin-top: 20px;
background: rgb(51, 51, 51);
border-radius: 15px;
box-shadow: 
    0 8px 20px rgba(0, 0, 0, 0.1),
    0 4px 10px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(10px);
}
#user-menu-container::-webkit-scrollbar {
    display: none; 
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
    color: #4CAF50; 
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.dish-card {
    width: 95%;
    max-width: 95%;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden; 
    cursor: pointer; 
    display: flex;
    flex-direction: column; 
    transition: transform 0.2s;
}

.dish-card:hover {
    transform: scale(1.05); 
}

.dish-card h3 {
    color: #006400; 
    margin: 10px 0;
    text-align: justify;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    transition: all 0.3s ease; 
}

.dish-card.expanded h3 {
    white-space: normal; 
}

.dish-card img {
    width: 99%; 
    height: 200px;
    object-fit: cover; 
    border-radius: 10px; 
    border: 1px solid #444;
}

.dish-details {
    display: none; 
    padding: 10px;
}

h3 {
    color: #4CAF50;
    margin: 10px 0;
}

p {
    margin: 0;
    color: #444;
}

button.remove-button {
    width: 100%;
    margin-top: 5%;
    padding: 10px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button.remove-button:hover {
   background-color: #45a049; 
   transform: translateY(-2px);
}

#remaining-calories, #calorie-warning {
    margin-top: 20px; 
    font-size: 1.5em; 
    text-align: center; 
    color: #af0000; 
}